<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body>
    <header class="mb-7">
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-5">

          <!-- card -->
          <div class="row mb-5 g-3 justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 justify-content-center d-flex">
              <div class="card" style="width: 23rem;">
                <img src="https://source.unsplash.com/1200x700/?programming" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 justify-content-center d-flex">
              <div class="card" style="width: 23rem;">
                <img src="https://source.unsplash.com/1200x700/?programming" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 justify-content-center d-flex">
              <div class="card" style="width: 23rem;">
                <img src="https://source.unsplash.com/1200x700/?programming" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
